<%- include('./partials/head') %>
  <%- include('./partials/nav') %>

    <main>
      <h1>Dashboard</h1>
      <section>
        <h2>Orders <span class="small">(<%= locals.orders[0].total_number_of_orders %>)</span></h2>

       
        <div>
          <canvas id="orderValueChart" height="200" ></canvas>
        </div>

       

      </section>
      <section>
        <h2>Customers</h2>
        <h3>Best customers</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Orders</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% locals.customersOrders .forEach(customer=> { %>
              <tr>
                <td>
                  <%= customer.first_name %>
                </td>
                <td>
                  <%= customer.order_count %>
                </td>
                <td>
                  <%= customer.sum_orders %>
                </td>
              </tr>

              <% }) %>

          </tbody>
        </table>

      </section>
      <section>
        <h2>Products</h2>
        <span>
          <%= locals.productCount %>
        </span>
        <% if (locals.depletedProductCount> 0) { %>
          <span class="alert danger">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <%= locals.depletedProductCount %> depleted products
          </span>
          <% } %>
          
      </section>
      <section>
        <h2>Categories</h2>
        <h3>Product categories</h3>
        
        <div id="chartdiv" style="height:400px;width:100%"></div>
        
<!-- 
        <div>
          <canvas id="donutCategories" height="200" ></canvas>
        </div> -->
      </section>
      <section>
        <h2>Title</h2>
      </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        
    <!-- Orders  chart -->
    <script>

      const ctx2 = document.getElementById('orderValueChart');

      new Chart(ctx2, {
        type: 'line',
        data: {
          labels: [ <% locals.orders.forEach(orderGroup => { %>

            '<%=orderGroup.year%>-<%=orderGroup.month%>-<%=orderGroup.week_of_month%>/4',
<% }) %> ],
          datasets: [{
            label: 'Orders value',
            data: [<% locals.orders.forEach(orderGroup => { %>
              '<%= orderGroup.sum_orders %>',
<% }) %>],
            borderWidth: 1,
            borderColor: '#f60',
            backgroundColor: '#f60',
            yAxisID: 'A'
          },
          {
            label: 'Orders count',
            data: [<% locals.orders.forEach(orderGroup => { %>
              '<%= orderGroup.number_of_orders %>',
<% }) %>],
            borderWidth: 1,
            borderColor: '#454545',
            backgroundColor: '#454545',
            yAxisID: 'B'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              id: 'A',
              type: 'linear',
              position: 'left',
            }, {
              id: 'B',
              type: 'linear',
              position: 'right'
            }]
          }
        }
      });


      // DONUT
      var ctx = document.getElementById("donutCategories");
var myChart = new Chart(ctx, {
type: 'pie',
data: {
labels: [<% locals.categoryProducts.forEach(category => { %>
              '<%= category.name%>',
<% }) %>],
datasets: [{
  label: 'products',
  data: [<% locals.categoryProducts.forEach(category => { %>
          <%= category.productcount%>,
          
<% }) %>],
  backgroundColor: [
    '#F60',
    '#D56A23',
    '#AA6639',
    '#805940',
    '#554439'
  ],
  // borderColor: [
  //  '#F60',
  //   '#0F9',
  //   '#F90',
  //   '#F90',
  //   '#09F'
  // ],
  borderWidth: 1
}]
},
options: {
 //cutoutPercentage: 40,
responsive: false,

}
});

    </script>



<!--AM CHARTS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script>
    am4core.ready(function() {
    
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    
    const chart = am4core.create("chartdiv", am4charts.PieChart3D);
    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
   
    chart.legend = new am4charts.Legend();
   
    chart.data = [
    <% function hslToHex(h, s, l) {
  l /= 100;
  const a = s * Math.min(l, 1 - l) / 100;
  const f = n => {
    const k = (n + h / 30) % 12;
    const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
    return Math.round(255 * color).toString(16).padStart(2, '0');   // convert to Hex and prefix "0" if needed
  };
  return `#${f(0)}${f(8)}${f(4)}`;
}let colorIncrement = 0; 
    locals.categoryProducts.forEach(category => { 
      colorIncrement ++ ; const hueRate = (colorIncrement / locals.categoryProducts.length) * 100; %>
             {
                category : "<%= category.name%>",
                products : <%= category.productcount%>,
                color : "<%= hslToHex(24,hueRate,(10 + hueRate/2))%>"
             },
<% }) %>
    //   {
    //     country: "Lithuania",
    //     litres: 501.9
    //   },
    //   {
    //     country: "Czech Republic",
    //     litres: 301.9
    //   },
    //   {
    //     country: "Ireland",
    //     litres: 201.1
    //   },
    //   {
    //     country: "Germany",
    //     litres: 165.8
    //   },
    //   {
    //     country: "Australia",
    //     litres: 139.9
    //   },
    //   {
    //     country: "Austria",
    //     litres: 128.3
    //   },
    //   {
    //     country: "UK",
    //     litres: 99
    //   },
    //   {
    //     country: "Belgium",
    //     litres: 60
    //   },
    //   {
    //     country: "The Netherlands",
    //     litres: 50
    //   }
    ];
    
    chart.innerRadius =  am4core.percent(30);
    
    const series = chart.series.push(new am4charts.PieSeries3D());
    series.dataFields.value = "products";
    series.dataFields.category = "category";
    series.slices.template.propertyFields.fill = "color";
    series.labels.template.disabled = true;
series.ticks.template.disabled = true;
series.slices.template.stroke = am4core.color("#fff");
series.slices.template.strokeWidth = 2;
series.slices.template.strokeOpacity = 1;
console.log(series.slices);
// series.slices.template = "pulled";
    }); // end am4core.ready()
    </script>



    <%- include('./partials/foot') %>