
    
<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<main>
    <h1>Dashboard</h1>
    <section>
        <h2>Orders</h2>
        <div>
            <canvas id="myChart"></canvas>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
           
    </section>
    <section>
        <h2>Customers</h2>
    </section>
    <section>
        <h2>Products</h2>
        <span><%= locals.productCount %></span>
        <% if (locals.depletedProductCount > 0) { %>
         <span class="alert warning">
            <i class="fa-solid fa-triangle-exclamation"></i> <%= locals.depletedProductCount %> depleted products
         </span>
        <% } %>
    </section>
    <section>
        <h2>Title</h2>
    </section>
    <section>
        <h2>Title</h2>
    </section>
</main>
<%- include('./partials/foot') %>