<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid commerce <% if(locals.pageTitle){%>
            <%= pageTitle %>
                <%} %>
    </title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <!-- // Add the new slick-theme.css if you want the default styling
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->
    <link rel="stylesheet" href="/css/nanocss.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<body class="<%= !locals.pageType  ? 'default' :  locals.pageType  %>">
    <header>
        <a href="/" title="Retour accueil">
            <!-- <img src="/img/logo-gridcommerce-light.svg" alt="Grid Commerce logo" width="50" height="50"> -->
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script><dotlottie-player src="/img/animations/spinning-gem.json"
                background="transparent" speed="1" style="width: 100px; height: 100px; display:inline-block;"
                direction="1" playMode="normal" loop autoplay></dotlottie-player><span
                class="site-name">Gem<span>store</span></span>
        </a>
        <form class="flexrow">
            <label for="search">
                <span>Search product</span>
            </label>
            <input id="search" type="text" placeholder="Search product">
            <button class="ghost"><i class="fa fa-search"></i></button>
        </form>
        <ul>
            <li>
                <% if (! locals.customer) { %>
                    <a href="/login" title="Connexion"><i class="fa fa-user fa-large"></i></a>
                    <% }else{ %>
                        <a href="/account" title="Your account (<%= customer.first_name%>)"><i
                                class="fa-solid fa-house-user fa2x"></i></a>
                        <% }%>

            </li>
            <li class="cart-toggler padh"><i class="fa fa-shopping-cart"></i>

            </li>
        </ul>
        <!-- </div> -->
        <% if (locals.pageType !="checkout" ) { %>
            <nav>
                <ul>
                    <% locals.categories.forEach((category)=>{ if (category.depth == 1){%>
                        <li><a href="/category/<%= category.name.replace(' ','-') %>">
                                <%= category.name %>
                            </a>

                            <% const subcategories=categories.filter((subcategory)=> subcategory.id_parent ==
                                category.id);
                                if(subcategories.length){%>
                                <ul class="padh">
                                    <% subcategories.forEach(subcategory=> {
                                        %>
                                        <li "s12 m4 l3 txtcenter">
                                            <a href="/category/<%= subcategory.name.replace(' ','-') %>">
                                                <%= subcategory.name %>
                                            </a>
                                        </li>
                                        <% }) }%>
                                </ul>
                        </li>

                        <%}})%>
                </ul>
            </nav>
            <% } %>

    </header>
    <% if (pageType !=="home" && pageType!=="checkout" ){%>
        <ol id="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="/">
                    <span itemprop="name">Home</span></a>
                <meta itemprop="position" content="1" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemscope itemtype="https://schema.org/WebPage" itemprop="item"
                    itemid="https://example.com/books/sciencefiction" href="/category/Beryl-Family">
                    <span itemprop="name">Parent category</span></a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span itemprop="name">
                    <% if (locals.category){%>
                        <%= locals.category.name%>
                            <% } %>

                </span>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
        <%}%>