<!-- <div> -->
<article class="slate">
    <a href="/product/<%= locals.product.id %> ">

        <img src="/img/products/<%= product.picture_url %>.jpg" width="100" alt="<%=
                product.name %>">
    </a>
    <h3><a href="/product/<%= locals.product.id %> ">
            <%= product.name %>
        </a></h3>
    <span>
        <%= product.price %> €
    </span>
</article>
<!-- </div> -->