<article class="l3 strict card pad nano gap">
    <a href="/product/<%= locals.product.id %> "><img src="/img/products/gem<%= product.id %>.jpg" width="200" alt="<%=
            locals.product.name %>"></a>
    <h2><a href="/product/<%= locals.product.id %> ">
            <%= locals.product.name %>
        </a></h2>
    <p>
        <%= locals.product.description_short %>
    </p>
    <%- include('../addToCart') %>

        <span class="valid s6"><i class="fa fa-check"></i> <span class="small">In stock</span></span>
        <span class="s6 txt-right">
            <%= locals.product.price %> €
        </span>
</article>