<article class="l3 strict">
    <a href="/product/<%= locals.product.id %> "><img src="https://placehold.co/200x200?text=<%= product.name.replace(" ","+") %>" width="200" alt="<%= locals.product.name %>"></a>
    <h2><a href="/product/<%= locals.product.id %> "><%= locals.product.name %></a></h2>
    <p><%= locals.product.description_short %></p>
    <form action="/add-to-cart" method="POST" target="cartReturn">
        <input type="hidden" name="idProduct"value="<%= locals.product.id %>">
        <input type="hidden" name="productName" value="<%= locals.product.name %>">
        <input type="hidden" name="unitPrice" value="<%= locals.product.price %>">
        <input type="hidden" name="quantity" value="1">
        <button>Add to cart</button>
    </form>
    
    <span><i class="fa fa-check"></i> In stock</span>
    <span><%= locals.product.price %> €</span>
</article>