<!-- <div> -->
<article class="card nano">
    <a href="/product/<%= locals.product.id %> ">

        <img src="/img/products/gem<%= product.id %>.jpg" width="100" alt="<%=
                product.name %>">
    </a>
    <h3><a href="/product/<%= locals.product.id %> ">
            <%= product.name %>
        </a></h3>
    <div class="txt-right">
        <%= product.price.toFixed(2) %> €
    </div>
</article>
<!-- </div> -->