<!-- <div> -->
<article class="slate" >
    <a href="/product/<%= locals.product.id %> "><img src="https://placehold.co/100x100?text=<%= product.name.replace(" ","+") %>" width="100" alt="<%= locals.product.name %>"></a>
    <h3><a href="/product/<%= locals.product.id %> "><%= locals.product.name %></a></h3>
    <span><%= locals.product.price %> €</span>
</article>
<!-- </div> -->