<%- include ('partials/header.ejs') %> 

<main class="gap">
    
    <section class="gap pad s12 m12 l12">
        <h1><%= locals.category.name %></h1>
        <h2>SEO subtitle</h2>

        <div class="noflex l12">
            <%- locals.category.text_top %>
        </div>
    </section>
    <aside class="shidden mhidden l2 padh">lef column</aside>
   
    <section class="s12 m12 l10 pad">
<% locals.products.forEach((product) => { %>
<%- include ('partials/miniatures/product.ejs', {product : product }) %>
<% }) %>
</section>
<section class="l12 pad noflex">
   <%- locals.category.text_bottom %>
</section>


<%- include ('partials/footer.ejs') %>  