<%- include ('partials/header.ejs') %>
    <main class="nano">

        <h1 class="pad">Finalise your order</h1>



        <section id="checkout-panel1" class="l3">
            <div class="padh">
                <nav>
                    <button class="tabnav active" data-target="tabPanelForms" data-panel="signin">Sign in</button>
                    <button class="tabnav" data-target="tabPanelForms" data-panel="signup">Sign up</button>
                </nav>
                <div id="tabPanelForms" class="tabContainer noflex padv">

                    <%- include('./partials/forms/signIn') %>
                        <%- include('./partials/forms/signUp') %>



                </div>
            </div>

        </section>
        <form action="/place-order" class="l9 nano ">
            <section id="checkout-panel2" class="l8">
                <fieldset class="nano padh">
                    <legend>Select a shipping method</legend>
                    <label for="fedex" class="s4">
                        <input type="radio" id="fedex" name="carrier" value="fedex" />
                        FedEx</label>
                    <label for="DHL" class="s4">
                        <input type="radio" id="DHL" name="carrier" value="DHL" />
                        DHL</label>
                    <label for="store" class="s4">
                        <input type="radio" id="store" name="carrier" value="store" />
                        Store pickup</label>
                </fieldset>
                <fieldset id="address" class="nano padh gap">
                    <legend>Enter shipping address</legend>
                    <%- include('./partials/forms/address') %>
                </fieldset>
                <fieldset class="nano padh gap">
                    <legend>Select a payment method</legend>
                    <label for="credtircard" class="m4">
                        <input type="radio" id="credtircard" name="payment-method" value="credtircard" />
                        Credit card</label>
                    <label for="paypal" class="m4">
                        <input type="radio" id="paypal" name="payment-method" value="paypal" />
                        Paypal</label>
                    <label for="cash" class="m4">
                        <input type="radio" id="cash" name="payment-method" value="cash" />
                        Cash in store</label>
                </fieldset>
            </section>
            <section id="checkout-panel3" class="nano l4 pad">
                <fieldset class="padh">
                    <legend>Your cart (X items)</legend>
                    <table>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="#" alt="Item name" width="50" height="50">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <legend>Terms & conditions</legend>

                    <label for="termsandconditions">
                        <input type="checkbox" id="termsandconditions" name="termsandconditions" required />
                        I accept the store <a href="#" title="See terms and conditions">terms and conditions</a>
                        *</label>

                </fieldset>
                <button type="submit" class="valid">Place order</button>
            </section>
        </form>
        <%- include ('partials/footer.ejs') %>