<%- include ('partials/header.ejs') %>
    <main class="nano">

        <section id="checkout-panel1" class="l3 pad">
            <% if (locals.customer) { %>
                <p class="txt-center">Vous êtes connecté en tant que <br><strong>
                        <%= customer.first_name%>
                            <%= customer.last_name%>
                    </strong>
                </p>
                <% }else{ %>
                    <div>
                        <nav class="nano">
                            <button class="tabnav active s6" data-target="tabPanelForms" data-panel="signin">Sign
                                in</button>
                            <button class="tabnav s6" data-target="tabPanelForms" data-panel="signup">Sign up</button>
                        </nav>
                        <div id="tabPanelForms" class="tabContainer noflex padv">

                            <%- include('./partials/forms/signIn') %>
                                <%- include('./partials/forms/signUp') %>



                        </div>
                    </div>
                    <% }%>
                        <a href="/" class="btn"><i class="fa-solid fa-angles-left"></i> Resume shopping</a>
        </section>
        <form action="/order" class="l9 nano " method="post">
            <section id="checkout-panel2" class="l8 pad">
                <fieldset class="nano padh gap">
                    <legend>Select a shipping method</legend>
                    <label for="fedex" class="s4 card pad">
                        <input type="radio" id="fedex" name="carrier" value="fedex" />
                        FedEx</label>
                    <label for="DHL" class="s4 card pad">
                        <input type="radio" id="DHL" name="carrier" value="DHL" />
                        DHL</label>
                    <label for="store" class="s4 card pad">
                        <input type="radio" id="store" name="carrier" value="store" />
                        Store pickup</label>
                </fieldset>
                <fieldset id="address" class="nano padh gap">
                    <legend>Enter shipping address</legend>
                    <%- include('./partials/forms/address') %>
                </fieldset>
                <fieldset class="nano padh gap">
                    <legend>Select a payment method</legend>
                    <label for="credtircard" class="m4 card pad">
                        <input type="radio" id="credtircard" name="payment-method" value="credtircard" />
                        Credit card</label>
                    <label for="paypal" class="m4 card pad">
                        <input type="radio" id="paypal" name="payment-method" value="paypal" />
                        Paypal</label>
                    <label for="cash" class="m4 card pad">
                        <input type="radio" id="cash" name="payment-method" value="cash" />
                        Cash in store</label>
                </fieldset>
            </section>
            <section id="checkout-panel3" class="nano l4 pad">
                <fieldset id="cart-content" class="padh nano gap">
                    <legend>Your cart (X items)</legend>
                    <% if (locals.cart){ cart.forEach((cartLine)=>{%>
                        <div>cart content</div>
                        <% }) } %>
                </fieldset>

                <fieldset>
                    <legend>Terms & conditions</legend>

                    <label for="termsandconditions">
                        <input type="checkbox" id="termsandconditions" name="termsandconditions" required />
                        I accept the store <a href="#" title="See terms and conditions">terms and conditions</a>
                        *</label>

                </fieldset>
                <button type="submit" class="valid">Place order</button>
            </section>
        </form>

        <template id="cart-line">
            <div class="card nano">
                <figure class="s2">
                    <img slot="img" src="/img/-200W.jpg" alt="alt" width="50" height="50">
                </figure>
                <div class="s9">
                    <div slot="name" class="minipad">
                        product
                    </div>
                    <div class="minipad">
                        <input name="quantity" type="number" slot="quantity" value="1" />
                        <span slot="total">TOTAL-LINE</span>
                    </div>
                </div>
                <button class="s1" slot="remove-product" data-idProduct="idprod" aria-label="remove from cart"><i
                        class="fa-regular fa-trash-can danger"></i></button>
            </div>
        </template>
        <%- include ('partials/footer.ejs') %>