<%- include('partials/header') %>
    <main class="half-screen nano">
        <div class="m6 l6 noflex">
            <div class="noflex padv">
                <h1>Connect to your account</h1>
                <p>Or click "Sign up" to create your account.</p>
            </div>
            <% if (locals.alert) { %>
                <div class="alert <%= alert[0] %>">
                    <%= alert[1] %>
                </div>
                <% } %>
                    <nav>
                        <button class="tabnav active" data-target="tabPanelForms" data-panel="signin">Sign in</button>
                        <button class="tabnav" data-target="tabPanelForms" data-panel="signup">Sign up</button>
                    </nav>
                    <div id="tabPanelForms" class="tabContainer noflex">

                        <%- include('./partials/forms/signIn') %>
                            <%- include('./partials/forms/signUp') %>



                    </div>
        </div>

        <%- include('partials/footer') %>