<%- include ('partials/header.ejs') %>

  <main class="nano">
    <section class="nano pad gap angle">
      <figure class="l4 m4">
        <img src="/img/products/gem<%= product.id %>.jpg" alt="<%= product.name %> packshot" width="400" height="400">

      </figure>
      <div class="nano l5 m4 flexcol gap">
        <h1>
          <%= product.name %>
        </h1>
        <p>
          <%= product.description_short %>
        </p>
        <ul class="nano">
          <li class="s4">
            <button><i class="fa fa-print"></i>Print</button>
          </li>
          <li class="s4">
            <button><i class="fa fa-share-alt"></i>Share</button>
          </li>
          <li class="s4">
            <button><i class="fa fa-heart"></i>Favorites</button>
          </li>
        </ul>
      </div>
      <div class="nano flexcol l3 gap pad">
        <div class="nano flexcol">


          <!-- <span>Regular price</span> -->
          <span itemprop="price" content="<%= product.price %>" class="txt-right price">
            <%= product.price %>€
          </span>
          <% if (product.stock> 2) { %>
            <span class="valid txt-right"><i class="fa fa-check"></i> In stock</span>
            <% }else if (product.stock> 0){%>
              <span class="danger txt-right">Only a few in stock</span>
              <% }else{%>
                <span class="error txt-right">Depleted</span>
                <%}%>
        </div>

        <!-- <form action="/cart" class="flexrow">
        <input type="hidden" name="product-id" />
        <input type="number" name="product-qty" id="product-qty" value="1" class="txtcenter"/>
        <button class="valid l6 m6 s6">Add to cart</button>
      </form> -->
        <%- include('partials/addToCart') %>
          <%- include('partials/rassurance.ejs') %>
      </div>
    </section>

    <section class="nano">
      <div class="l2 sidebar">
        <nav id="anchor-nav">
          <ul>
            <li><a href="#description">Description</a></li>
            <li><a href="#technicaldata">Technical data</a></li>
            <li><a href="#documentation">Documentation</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <!-- <li><a href="#accessories">Accessories</a></li> -->
            <li><a href="#relatedproducts">Related products</a></li>
          </ul>
        </nav>
      </div>
      <div id="product-detail" class="l10  nano">
        <section id="description" class="angle readmore padh">
          <h2>Description</h2>
          <%- product.description_long %>
        </section>
        <section id="technicaldata" class="angle dark padh">
          <h2>Technical data</h2>
          <dl>
            <dt>Lorem, ipsum dolor.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Odit, consequuntur tempore.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Sint, magni itaque!</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Nam, sapiente enim.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Dolorem, error velit.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Deserunt, possimus doloribus?</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Quis, atque quibusdam?</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Iusto, totam dolore!</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Autem, tenetur ab!</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Harum, dignissimos saepe?</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Nam, inventore voluptatem!</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Pariatur, consequatur dolorem.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Quas, asperiores doloribus.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Deserunt, aliquam alias.</dt>
            <dd>Lorem, ipsum.</dd>
            <dt>Vitae, illo eum?</dt>
            <dd>Lorem, ipsum.</dd>
          </dl>
        </section>
        <section id="documentation" class="angle padh">
          <h2>Documentation</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In facilis
            sapiente ut explicabo cupiditate accusamus. Nemo laboriosam
            accusantium consectetur. Sed.
          </p>
          <p>
            Saepe cum earum ea, facilis, nemo cupiditate amet excepturi nam
            doloremque dolore dolor eum laborum odio pariatur blanditiis quo
            distinctio.
          </p>
          <p>
            Praesentium veritatis non adipisci nobis? In quibusdam, voluptas
            similique corrupti expedita provident fugiat unde harum eveniet
            saepe inventore vero debitis.
          </p>
          <div class="nano gap">
            <div class="s2 m6 l3 pad card">
              <h3 class="card-header">Blog post title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus
                commodi?
                Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor,
                impedit
                omnis.</p>
            </div>
            <div class="s2 m6 l3 pad card">
              <h3 class="card-header">Blog post title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus
                commodi?
                Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor,
                impedit
                omnis.</p>
            </div>
            <div class="s2 m6 l3 pad card">
              <h3 class="card-header">Blog post title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur fugit, nemo rerum accusamus
                commodi?
                Tempore quae ipsa magnam ipsum, sapiente earum officia soluta aut molestiae recusandae dolor,
                impedit
                omnis.</p>
            </div>
          </div>
        </section>
        <section id="reviews" class="angle dark padh">
          <h2>Reviews</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In facilis
            sapiente ut explicabo cupiditate accusamus. Nemo laboriosam
            accusantium consectetur. Sed.
          </p>
          <p>
            Saepe cum earum ea, facilis, nemo cupiditate amet excepturi nam
            doloremque dolore dolor eum laborum odio pariatur blanditiis quo
            distinctio.
          </p>
          <p>
            Praesentium veritatis non adipisci nobis? In quibusdam, voluptas
            similique corrupti expedita provident fugiat unde harum eveniet
            saepe inventore vero debitis.
          </p>
        </section>
        <section id="relatedproducts" class="angle padh">
          <h2>Related products</h2>
          <div aria-label="Liste d'articles" role="region">
            <article w3-include-html="partials/article.html"></article>
            <article w3-include-html="partials/article2.html"></article>
            <article w3-include-html="partials/article4.html"></article>
            <article w3-include-html="partials/article.html"></article>
          </div>
        </section>
      </div>
    </section>

    </section>
    <!-- Microdata -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Product",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "3.5",
        "reviewCount": "11"
      },
      "description": "0.7 cubic feet countertop microwave. Has six preset cooking categories and convenience features like Add-A-Minute and Child Lock.",
      "name": "Kenmore White 17\" Microwave",
      "image": "kenmore-microwave-17in.jpg",
      "offers": {
        "@type": "Offer",
        "availability": "https://schema.org/InStock",
        "price": "55.00",
        "priceCurrency": "USD"
      },
      "review": [
        {
          "@type": "Review",
          "author": "Ellie",
          "datePublished": "2011-04-01",
          "reviewBody": "The lamp burned out and now I have to replace it.",
          "name": "Not a happy camper",
          "reviewRating": {
            "@type": "Rating",
            "bestRating": "5",
            "ratingValue": "1",
            "worstRating": "1"
          }
        },
        {
          "@type": "Review",
          "author": "Lucas",
          "datePublished": "2011-03-25",
          "reviewBody": "Great microwave for the price. It is small and fits in my apartment.",
          "name": "Value purchase",
          "reviewRating": {
            "@type": "Rating",
            "bestRating": "5",
            "ratingValue": "4",
            "worstRating": "1"
          }
        }
      ]
    }
    </script>
    <%- include ('partials/footer.ejs') %>